.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

.home1 {
  background: #233671;
  min-height:100%;
  background-size: cover;
  color: #FFF;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: TT Firs Neue;
  font-size: 56px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.home1 button {
  margin: 80px;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  border-radius: 10px;
  border: 2px solid #EB5E57;
  background: #EB5E57;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.home1 button:hover {
  background-color: #0056b3;
}

/* Style the links inside the buttons */
.home1 button a {
  text-decoration: none;
  color: #fff;
}

/* Center the button text vertically */
.home1 button span {
  display: inline-block;
  vertical-align: middle;
}

/* Optional: Add a hover effect for the links */
.home1 button a:hover {
  text-decoration: underline;
}

/* Optional: Center align the 'Are you good at guessing games?' text */
.home1>div:first-child {
  margin-bottom: 10px;
}

/* CSS for the 'username1' component */
.username1 body{
  background: #233671;
}
.username1 {
  text-align: center;
  
  background: #233671;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 100%; /* Optional: Adjust the maximum width as needed */
  margin: 0 auto; /* Optional: Center the component horizontally */
}
.username4{
  
  border-radius: 10px;
}
/* CSS for the form header */
.username1 h1 {
color: #FFF;
font-family: TT Firs Neue;
font-size: 56px;
font-style: normal;
font-weight: 600;
line-height: normal;
vertical-align: middle;
}
.username3{
  border-radius:80px;
  margin: 50px;
}


input[type="text"] {
  font-family: TT Firs Neue;
  padding: 20px;
  font-size: 24px;
  margin: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* Optional: Add spacing between form elements */
.username1 div {
  margin-bottom: 100px;
}

/* Optional: Style the submit button */
button{
  width: 433px;
height: 70px;
flex-shrink: 0;
  border-radius: 10px;
border: 20px solid #EB5E57;
background: #EB5E57;
}

button[type="submit"]:hover {
  border-radius: 10px;
  border: 20px solid #EB5E57;
  background: #EB5E57;
}

.au1{
  background-color: #233671;

  margin: 20px;
  padding: 300px;
  height: 100%;
}
.au1 h2{
  color: #FFF;
  text-align: center;
  font-family: TT Firs Neue;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.qf1{
  background: #233671;
  width: 1460px;
height: 1080px;
text-align: center;
}
.qf2{
  color: #EB5E57;
font-family: TT Firs Neue Trial Var Roman;
font-size: 60px;
font-style: normal;
font-weight: 200;
line-height: normal;
}
.qf3{
  color: #FFF;
text-align: center;
font-family: TT Firs Neue;
font-size: 56px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.qf4{
  
  width: 1400px;
height: 600px;
flex-shrink: 0;
}
.cf1{
  background: #8493c3;
  margin: 0px auto;
min-height: 800px;
position: relative;
width: 1400px;
  display: inline-flex;
padding: 41px 0px 42px 38px;
justify-content: flex-end;
align-items: center;

}
.cf2{
  padding: 5px;
  color: #b8c4e0;
  font-family: TT Firs Neue;
  font-size: 44px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.res1{
  display: flex;
width: 1200px;
height: 412px;
justify-content: center;
align-items: center;
flex-shrink: 0;
}
.res1 h1{
  width: 579px;
height: 106px;
flex-shrink: 0;
color: #FFF;
font-family: TT Firs Neue;
font-size: 96px;
font-style: normal;
font-weight: 600;
line-height: 107%; /* 102.72px */
}
.res2{
  background: #233671;
  width: 1470px;
height: 800px;
}
.res3{
  color: #FFF;
font-family: TT Firs Neue;
font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.res4{
  color: #FFF;
text-align: center;
font-family: TT Firs Neue;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.res4 button{
  border-radius: 10px;
border: 2px #EB5E57;
background: #EB5E57;
width: 232px;
height: 70px;
flex-shrink: 0;
}

.f1{
  padding: 10px;
  margin-left: 45%;
  width: 70px;
  text-align: center;
  background: #5F8EFB;
  
}
.container{
  background: #233671;
  margin: 30px;
  padding:200px;
}
.container h3{
  color: #FFF;
text-align: center;
font-family: TT Firs Neue;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.container table{
  text-align: center;
 
  margin: auto;
}

#f11{
  color: #EB5E57;
font-family: TT Firs Neue Trial Var Roman;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: normal;
width: 135px;
height: 34px;
flex-shrink: 0;
}
#f12{
  color: #FFF;
text-align: center;
font-family: TT Firs Neue Trial Var Roman;
font-size: 20px;
font-style: normal;
font-weight: 100;
line-height: 0%; /* 0px */
}
.f13 h3{
  color: #EB5E57;
font-family: TT Firs Neue Trial Var Roman;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.f13{
  color: #FFF;
font-family: TT Firs Neue;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.f14{
  color: #FFF;
  text-align: center;
  font-family: TT Firs Neue Trial Var Roman;
  font-size: 34px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
#f114{
  color: #4572E0;
font-family: TT Firs Neue Trial Var Roman;
font-size: 34px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.f15{
  color: #FFF;
  text-align: center;
  font-family: TT Firs Neue;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.t1{
  background-image:url('./components/celebration.gif'); background-repeat:repeat; 
}
.t1 h1{
  
  color: #EB5E57;
  text-align: center;
  font-family: TT Firs Neue;
  font-size: 69px;
  font-style: normal;
  font-weight: 600;
  line-height: 107%; /* 73.83px */
}
.t2{
  color: #2B4994;
text-align: center;
font-family: TT Firs Neue;
font-size: 32px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.t3{
  color: #2B4994;
text-align: center;
font-family: TT Firs Neue;
font-size: 54px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.t4{
  
}